<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>
   </head>
   <body>
        <h1>이미지 채색 결과</h1>

        <!-- 저장한 이미지를 출력한다. -->
        <img src="{{ label }}_changed.png" width="400" height="400">
        <div>
            <form action="/image/search">
                <button>이미지 검색</button>
            <form>
        </div>
   </body>
</html>