<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>
       <script>
            if (window.location.href.substring(0, 8) != "https://") {
            window.location = location.href.replace(/^http:/, 'https:');
            }
        </script>
   </head>
   <body>
        <div>
            <form action="/image/upload_image" method="POST" enctype="multipart/form-data">
                    <h1>이미지 업로드 하기</h1>
                    <input type="file" name="uploaded_image">
                    <button>이미지 업로드</button>
            <form>
        </div>
        <br><br><br><br>
   </body>
</html>